# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# ===========================
# Virtual environments
# ===========================
.venv/
venv/


# ===========================
# Local data files 
# ===========================
data/*.csv
data/*.xlsx

# ===========================
# Trained models
# ===========================
*.joblib

# ===========================
# Keys and secrets
# ===========================
app/key-gcp.json

# ===========================
# Docker 
# ===========================
Dockerfile
.dockerignore

# ===========================
# MLflow 
# ===========================
mlruns/

# ===========================
# VSCode/IDE settings
# ===========================
.vscode/
.idea/
*.swp
